@import 'variables/variables';
@import 'base/base';

@import 'components/c-container';
@import 'components/c-header';
@import 'components/c-advert';
@import 'components/c-inset';
@import 'components/c-footer';