* {
  font-family: Arial, Verdana, sans-serif;
  list-style: none; }

a {
  color: #ea9a88; }

.c-container {
  width: 850px;
  margin: auto;
  border: 1px solid black; }

.c-inner-container {
  width: 830px;
  margin: auto;
  border: 10px solid #E8E8E8; }

.c-header {
  margin: 0 auto;
  letter-spacing: 2px; }
  .c-header__logo {
    padding: 1em; }
    .c-header__logo img {
      display: block;
      margin: auto;
      width: 600px; }
  .c-header__nav {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: end; }
    .c-header__nav--list {
      padding: 0 .5em; }
      .c-header__nav--list a {
        font-size: 18px; }
    .c-header__nav--span {
      font-size: 16px;
      color: #8c8989; }
  .c-header__intro {
    font-size: 18px;
    color: #8c8989;
    padding-top: .5em; }
    .c-header__intro--text {
      padding: .5em;
      margin: 0 auto; }

.c-advert {
  display: flex;
  padding: .5em;
  letter-spacing: 1px; }
  .c-advert__hero--image {
    width: 300px;
    padding: 0 .5em; }
  .c-advert__hero--contact {
    text-align: center;
    margin: 0;
    padding: .5em 2.4em;
    font-size: 18px;
    color: #8c8989; }
    .c-advert__hero--contact a {
      padding: 0 .5em; }
  .c-advert__details {
    color: #8c8989; }
    .c-advert__details--title {
      margin: 0;
      font-size: 22px;
      padding: 0 0 .1em .5em; }
      .c-advert__details--title a {
        color: #4279A3;
        text-decoration: none; }
      .c-advert__details--title a:hover {
        text-decoration: underline;
        text-decoration-color: #ea9a88; }
    .c-advert__details--header {
      margin: 0;
      font-size: 18px;
      padding: .1em .5em; }
    .c-advert__details--nav {
      display: flex; }
      .c-advert__details--nav-list {
        font-size: 18px;
        padding: .1em .5em; }
      .c-advert__details--nav-span {
        font-size: 18px;
        height: 18px; }
    .c-advert__details--text {
      font-size: 18px;
      padding: .1em .5em;
      margin: 0;
      text-align: justify; }

.c-inset {
  display: flex;
  position: relative;
  letter-spacing: 1px; }
  .c-inset__hero {
    width: 170px;
    padding: 0 .5em; }
  .c-inset__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #8c8989; }
    .c-inset__info--list {
      font-size: 18px; }
      .c-inset__info--list a {
        padding-left: 5px; }

.c-footer {
  color: #8c8989;
  letter-spacing: 1px;
  font-size: 18px; }
  .c-footer__main {
    padding: 0 .5em; }
    .c-footer__main--text a {
      padding-left: 5px; }
