.c-advert {
  display: flex;
  padding: .5em;
  &__hero {
    &--image {
      width: 300px;
      padding: 0 .5em;
    }
    &--contact {
      text-align: center;
      margin: 0;
      padding: .5em 2.4em;
      font-size: 18px;
      color: gray;
      a {
        padding: 0 .5em;
      }
    }
  }

  &__details {
    color: gray;
    &--title {
      margin: 0;
      color: #4279A3;
      font-size: 22px;
      padding: 0 0 .1em .5em;
    }
    &--header {
      margin: 0;
      font-size: 20px;
      padding: .1em .5em;
    }
    &--nav {
      display: flex;
      &-list {
        list-style: none;
        font-size: 20px;
        padding: .1em .5em;
      }
      &-span {
        font-size: 24px;
        height: 24px;
      }
    }
    &--text {
      font-size: 20px;
      padding: .1em .5em;
      margin: 0;
      text-align: justify;
    }
  }
}