.c-advert {
  display: flex;
  padding: .5em; }
  .c-advert__hero--image {
    width: 300px;
    padding: 0 .5em; }
  .c-advert__hero--contact {
    text-align: center;
    margin: 0;
    padding: .5em 2.4em;
    font-size: 18px;
    color: gray; }
    .c-advert__hero--contact a {
      padding: 0 .5em; }
  .c-advert__details {
    color: gray; }
    .c-advert__details--title {
      margin: 0;
      color: #4279A3;
      font-size: 22px;
      padding: 0 0 .1em .5em; }
    .c-advert__details--header {
      margin: 0;
      font-size: 20px;
      padding: .1em .5em; }
    .c-advert__details--nav {
      display: flex; }
      .c-advert__details--nav-list {
        list-style: none;
        font-size: 20px;
        padding: .1em .5em; }
      .c-advert__details--nav-span {
        font-size: 24px;
        height: 24px; }
    .c-advert__details--text {
      font-size: 20px;
      padding: .1em .5em;
      margin: 0;
      text-align: justify; }
