.c-advert {
  display: flex;
  padding: .5em;
  letter-spacing: 1px;
  &__hero {
    &--image {
      width: 300px;
      padding: 0 .5em;
    }
    &--contact {
      text-align: center;
      margin: 0;
      padding: .5em 2.4em;
      font-size: 18px;
      color: $main-gray;
      a {
        padding: 0 .5em;
      }
    }
  }

  &__details {
    color: $main-gray;
    &--title {
      margin: 0;
      font-size: 22px;
      padding: 0 0 .1em .5em;

      a {
        color: #4279A3;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        text-decoration-color: $links;
      }
    }
    &--header {
      margin: 0;
      font-size: $main-font;
      padding: .1em .5em;
    }
    &--nav {
      display: flex;
      &-list {
        font-size: $main-font;
        padding: .1em .5em;
      }
      &-span {
        font-size: $main-font;
        height: $main-font;
      }
    }
    &--text {
      font-size: $main-font;
      padding: .1em .5em;
      margin: 0;
      text-align: justify;
    }
  }
}