.c-header {
  margin: 0 auto; }
  .c-header__logo {
    padding: 1em; }
    .c-header__logo img {
      display: block;
      margin: auto;
      width: 600px; }
  .c-header__nav {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: end; }
    .c-header__nav--list {
      list-style: none;
      padding: 0 .5em; }
      .c-header__nav--list a {
        font-size: 20px; }
    .c-header__nav--span {
      font-size: 24px;
      color: grey; }
  .c-header__intro {
    font-size: 20px;
    color: grey;
    padding-top: .5em; }
    .c-header__intro--text {
      padding: .5em;
      margin: 0 auto; }
