.c-header {
  margin: 0 auto;
  letter-spacing: 2px;
  &__logo {
    padding: 1em;
    img {
      display: block;
      margin: auto;
      width: 600px;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: end;
    &--list {
      padding: 0 .5em;
      a {
        font-size: 18px;
      }
    }
    &--span {
      font-size: 16px;
      color: $main-gray;
    }
  }
 
  &__intro {
    font-size: $main-font;
    color: $main-gray;
    padding-top: .5em;
    &--text {
      padding: .5em;
      margin: 0 auto;
    }
  }
}