.c-inset {
  display: flex;
  position: relative; }
  .c-inset__hero {
    width: 170px;
    padding: 0 .5em; }
  .c-inset__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: gray; }
    .c-inset__info--list {
      list-style: none;
      font-size: 20px; }
      .c-inset__info--list a {
        padding-left: 5px; }
